node_modules
data/
data_backup*/
backups/
.codex/
test/
coverage/
**/*.db
**/*.db-*
**/config.json
**/mapping.json
**/.env*
*.tar.gz
*.zip
.git
.gitignore
*.log
.env
Dockerfile
docker-compose.yml
config.json
.env.bak
iniprompt.md
config.json
http_lox_server_VO.xml
udp_lox_server_VI.xml
HueSettings
docker-compose_dev.yml
